:root {
    --primary-color: #5d4037;    
    --secondary-color: #f5f5f5; 
    --accent-color: #ffcc80;     
    --main-font: 'Open Sans', sans-serif;
    --heading-font: 'Playfair Display', serif;
}

* {
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--main-font);
    background-color: var(--secondary-color); 
    color: var(--primary-color);
    line-height: 1.6;
}

h1, h2 {
    font-family: var(--heading-font);
    text-align: center;
    margin-bottom: 1rem;
}

h1 {
    font-size: 2.5rem;
    padding: 1rem 0;
}

a {
    color: var(--primary-color);
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: var(--accent-color);
    text-decoration: underline;
}


header {
    background-color: var(--primary-color);
    color: white;
    padding: 1rem 0;
}

nav ul {
    list-style: none;
    text-align: center;
    padding-top: 0.5rem;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}

nav ul li a {
    color: white;
    font-weight: 700;
}

main {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}

section {
    padding: 2rem 0;
    margin-bottom: 1.5rem;
    border-bottom: 1px solid var(--primary-color);
}

#menu ul {
    list-style-type: square;
    margin-left: 2rem;
    padding-top: 0.5rem;
}

#menu li {
    margin-bottom: 0.5rem;
}

#welcome img {
    display: block;
    width: 100%;
    max-width: 600px;
    height: auto;
    margin: 1.5rem auto;
    padding: 5px;
    
    border: 3px solid var(--primary-color);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.image-caption {
    text-align: center;
    font-style: italic;
    font-size: 0.8rem;
    color: var(--accent-color);
    margin-bottom: 1.5rem;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: var(--primary-color);
    color: white;
    font-size: 0.9rem;
}
